<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><title>Components</title>
    <meta property="og:title" content="Components" />
    <meta name="twitter:title" content="Components" /><meta name="author" content="DJ Walker"/>
    <link href='https://dwalkr.github.io/sawmill//favicon.ico' rel='icon' type='image/x-icon'/>

    <meta property="og:url" content="https://dwalkr.github.io/sawmill/components/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Sawmill" />
    <link rel="canonical" href="https://dwalkr.github.io/sawmill/components/" />
    <link rel="stylesheet" href="https://dwalkr.github.io/sawmill//css/main.css" />
</head> 
    <body><nav id="primary-nav" class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://dwalkr.github.io/sawmill/"><img src="/sawmill/logo.svg" alt=" Sawmill"/>
            </a>
        <div role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nav-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
    </div>
    <div class="navbar-menu" id="nav-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end"></div>
    </div>
</nav><main id="primary-content">
            
<div class="page-blocks"><section class="hero is-bold is-primary has-background-primary has-text-light">
    <div class="container hero-body"><h1 class="title is-1">Components</h1></div>
</section><section class="section content-section">
    <div class="container">
        <div class="content">
            Sawmill provides a few basic components out of the box.
        </div>
    </div>
</section><section class="media-feature section is-dark has-background-dark has-text-light media-feature--image-left">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths media-feature__image ">
                <img src="/sawmill/" />
            </div>
            <div class="column media-feature__content"><h2 class="title">Hero Section</h2><div class="content">
                    The <strong>hero section</strong> is great for page headings, or setting off new sections.
                    </div></div>
        </div>
    </div>
</section><section class="media-feature section is-primary has-background-primary has-text-light media-feature--image-left">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths media-feature__image ">
                <img src="/sawmill/" />
            </div>
            <div class="column media-feature__content"><h2 class="title">Media Feature</h2><div class="content">
                    The <strong>media feature</strong> component is designed to showcase a visual element
                    </div></div>
        </div>
    </div>
</section><section class="media-feature section is-primary has-background-primary has-text-light media-feature--image-left">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths media-feature__image ">
                <img src="/sawmill/" />
            </div>
            <div class="column media-feature__content"><h2 class="title">Choose Your Style</h2><div class="content">
                    The hero section and media feature components can be configured to have a dark, light, or brand color background.
                    </div></div>
        </div>
    </div>
</section><section class="media-feature section is-primary has-background-primary has-text-light media-feature--image-left">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths media-feature__image ">
                <img src="/sawmill/" />
            </div>
            <div class="column media-feature__content"><h2 class="title">Buttons Everywhere</h2><div class="content">
                    You have the option of punctuating a hero or media feature component with a call to action by setting the <code>button url</code> and <code>button text</code> values.
                    </div></div>
        </div>
    </div>
</section><section class="section content-section">
    <div class="container">
        <div class="content">
            <h2 id="pure-markdown-sections">Pure Markdown Sections</h2>

<p>Insert markdown sections in between other block types for longer prose or just when you need the flexibility.
        </div>
    </div>
</section><section class="media-feature section is-primary has-background-primary has-text-light media-feature--image-left">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths media-feature__image ">
                <img src="/sawmill/" />
            </div>
            <div class="column media-feature__content"><h2 class="title">Call To Action</h2></div>
        </div>
    </div>
</section><section class="section cta">
    <div class="container"><h2 class="title">More to Come</h2>
        <h3 class="subtitle">Suggest more blocks or send us a PR</h3>
        <div>
            <a class="button is-primary is-large" href="https://github.com/dwalkr/sawmill">View on Github</a>
        </div>
    </div>
</section></div>

        </main>
        <script src="/sawmill/js/main.js"></script>
    </body>
</html>