@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/functions.sass";

$column-gap: 2rem;
$primary: #eb2650;
$primary-invert: findColorInvert($primary);

@import "bulma";

.content {
    font-size: 1.4em;
}

.navbar {
    box-shadow: 0 2px 9px -4px #fff;
}

.has-text-light, .has-text-dark {
    .title, .subtitle {
        color: inherit;
    }
}

.page-blocks > .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.hero {
    background-repeat: no-repeat;
    background-size: cover;
}

.page-blocks > .cta {
    text-align: center;
}

.media-feature__image > img {
    max-width: 100%;
}
.media-feature__image--shadow > img {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.media-feature .columns {
    align-items: center;
}
.media-feature--image-right .columns {
    flex-direction: row-reverse;
}
.media-feature--image-top, .media-feature--image-bottom {
    .columns {
        flex-direction: column;
    }
    .column {
        text-align: center;
    }
    .media-feature__image {
        width: 100%;
    }
}
.media-feature--image-bottom .columns {
    flex-direction: column-reverse;
}

// make content sections dark-bg friendly
.is-dark, .is-primary, .has-text-light {
    .content {
        strong {
            color: inherit;
        }
        a {
            color: lighten($blue, 20%);
        }
        code {
            background: rgba(255,255,255,0.1);
            color: $yellow;
        }
    }
}